<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @neighborhood.title %>
</p>

<p>
  <strong>City:</strong>
  <%= @neighborhood.city_id %>
</p>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
