<p id="notice"><%= notice %></p>
<p>Titulo: <%= @place.title %></p>
<p>Desc<%= @place.description %></p>
<p>CEP: <%= @place.cep %></p>
<p>ENDEREÇO: <%= @place.full_address %></p>
<p>ESTADO: <%= @place.state %></p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
