<!DOCTYPE html>
<html>
<head>
  <title>Guia041</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/nav/top_search' %>
    <div class="content">
    <div class="container">
		<%= yield %>
	</div>
	</div>
<%= javascript_include_tag "application"%>
<% if content_for?(:js) %>
  <%= yield :js %>
<% end %>
</body>
</html>